{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Code_Region</title>
	<!-- CSS only -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&display=swap" rel="stylesheet">
<style>
body {
    position: relative;
  }

#myScrollspy{
  position :fixed;
  top :130px;
}
  #section1,#section2,#section3,#section4,#section5 {
 -webkit-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  height:100%;
  font-family : 'Roboto+Mono';
  padding-top: 60px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  
  }
  #title{
    text-align: justify;
    font-size : 40px;

  }
.contain{
  font-size:30px;
  font-family: 'Alegreya Sans', sans-serif;
}
  @media screen and (max-width: 810px) {
    #section1, #section2, #section3, #section4, #section4  {
      
    }
  }

/* Style the header */
header {
  background-color: #2B2B2B;
  padding: 30px;
  text-align: center;
  
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 88px;
  
  font-family : 'Roboto+Mono';
  -webkit-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  color: white;
  text-align: center;
  font-size: 30px; 
  font-weight: bold;
  width: 100%;
  transition: 0.2s;
}

div.col-sm-9 div {
    height: 250px;
    font-size: 28px;
  }
.header__content-text {
  text-align: center;
  padding: 15px 20px;
}

.page__content-container {
  
  margin-top: 15rem;
}

table,th,tr{
  text-align:center;
}

#bold{
  font-weight: bold;
}
.ais{
  background-color:lightblue;
}
</style>
</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">
<header id="header">Welcome to Linear Search</header>

<div class="container">
  <div class="row page__content-container">
    <div class="col-xs-3">
        <nav class="" id="myScrollspy">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Intro</a></li>
        <li><a href="#section2">Algo</a></li>
        <li><a href="#section3">Program</a></li>
        <li><a href="#section4">Flowchart</a></li>
        <li><a href="#section5">Example</a></li>
        <!--<li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Section 4 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#section41">Section 4-1</a></li>
            <li><a href="#section42">Section 4-2</a></li>                     
          </ul>
        </li>-->
      </ul>
    </nav>
    </div>
    <div class="col-xs-9 ">
      <div id="section1" class="ais">    
        <p id="title">What is  Linear Search ?</p>
        <div class="contain">
          <p>&emsp;&emsp;&emsp;Linear Search is also called as sequential search or serial search. This is the traditional technique for searching an element in a collection of elements. In this method of searching, the element to be found is searched sequentially in the list. It begins to search first item in list, continues searching sequentially (item by item) through the list, until desired item (key) is found or until end of list is reached. If the element is not found till the end this means that the element is not present in the list. This method can be performed on a sorted or an unsorted list. </p>
          <p>&emsp;&emsp;&emsp;The time and space complexity for linear search is: <br> • Time complexity (Best Case) : O(1) <br>• Time complexity (Worst Case) : O(n) <br>• Time complexity (Average Case) : O(n) <br> • Space complexity : O(1) </p>
        </div>
      </div>
      <div id="section2"> 
        <p id="title">Algorithm</p>
        <div class="contain" > 
          <p> Linear Search Algorithm is as follows: <br>
            <b>Step 1</b>:  Set i to 1 <br>
            <b>Step 2</b>:  If i > n then go to step 7 <br> 
            <b>Step 3</b>:  If A[i] = x then go to step 6 <br>
            <b>Step 4</b>:  Set i to i + 1 <br>
            <b>Step 5</b>:  Go to Step 2 <br>
            <b>Step 6</b>:  Print Element x Found at index i and go to step 8 <br>
            <b>Step 7</b>:  Print element not found <br>
            <b>Step 8</b>:  Exit <br>
          </p>
        </div>
      </div>        
      <div id="section3"> 
      <p id="title">Implementation of Linear Search:</p> <br> 
        <div class="contain" >    
          <p> <b>Step 1</b> - The list given is the list of elements in an unsorted array.  <br>
              <b>Step 2</b> - The element to be searched is called item, as mentioned in the image, so value item, is compared with all the elements of the array starting from 0th element. <br>
              <b>Step 3</b> - As soon as any index contains the same value, we stop further comparisons and change flag value from 0 to 1. <br>
              <b>Step 4</b> - If the value is not found until the end of the array then stop and print value not found. <br>
          </p>
        </div>
      </div>
      <div id="section4">    
      <p id="title">Flowchart : </p>  <br>    
      <div >
        <img src={% static "linear.jpg" %}>
      </div>
      </div>
      <div id="section5">  
      <p id="title">Example demonstrating Linear search :</p>  
      <div class="contain">      
        <p>Consider the following example having 7 array elements.<br>
                
                <table class="table table-bordered">
                  <tr>
                    <th>0</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>20</td>
                    <td>11</td>
                    <td>34</td>
                    <td>9</td>
                    <td>41</td>
                    <td>18</td>
                  </tr>
                </table>

                Element to search is 9.<br>
                

                <br><a id="bold"> Pass 1:- </a> <br>
                Compare Data[0] with 9<br>
                <table class="table table-bordered">
                  <tr>
                    <th>0</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    
                  </tr>
                  <tr>
                    <td style="color:red;">3</td>
                    <td>20</td>
                    <td>11</td>
                    <td>34</td>
                    <td>9</td>
                    <td>41</td>
                    <td>18</td>
                  </tr>
                </table>
                As Data[0] ! = 9 so go for next pass

                <br><a id="bold"> Pass 2:- </a><br>
                Compare Data[1] with 9<br>
                <table class="table table-bordered">
                  <tr>
                    <th>0</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    
                  </tr>
                  <tr>
                    <td>3</td>
                    <td style="color:red;">20</td>
                    <td>11</td>
                    <td>34</td>
                    <td>9</td>
                    <td>41</td>
                    <td>18</td>
                  </tr>
                </table>

                As Data[1] ! = 9 so go for next pass

                <br><a id="bold"> Pass 3:- </a><br>
                Compare Data[2] with 9<br>
                <table class="table table-bordered">
                  <tr>
                    <th>0</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    
                  </tr>
                  <tr>
                    <td>3</td>
                    <td >20</td>
                    <td style="color:red;">11</td>
                    <td>34</td>
                    <td>9</td>
                    <td>41</td>
                    <td>18</td>
                  </tr>
                </table>
                As Data[2] ! = 9 so go for next pass

               <br><a id="bold"> Pass 4:- </a><br>
                Compare Data[3] with 9<br>
                <table class="table table-bordered">
                  <tr>
                    <th>0</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    
                  </tr>
                  <tr>
                    <td>3</td>
                    <td >20</td>
                    <td >11</td>
                    <td style="color:red;">34</td>
                    <td>9</td>
                    <td>41</td>
                    <td>18</td>
                  </tr>
                </table>
                As Data[3] ! = 9 so go for next pass

               <br><a id="bold"> Pass 5:- </a><br>
                Compare Data[4] with 9<br>
                <table class="table table-bordered">
                  <tr>
                    <th>0</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    
                  </tr>
                  <tr>
                    <td>3</td>
                    <td >20</td>
                    <td >11</td>
                    <td >34</td>
                    <td style="color:red;">9</td>
                    <td>41</td>
                    <td>18</td>
                  </tr>
                </table>
                <br>As Data[4] = = 9 then print “Element Is Found”<br>

                Therefore here the given element 9 is found at 4th location.

        </p>
      </div>
     </div>
    </div>
  </div>
</div>
    
<script>
// When the user scrolls down 50px from the top of the document, resize the header's font size
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
    document.getElementById("header").style.width = "39rem";
  } else {
    document.getElementById("header").style.width = "100%";
  }
 
}

</script>   
      
</body>


</html>